<a href="#" class="choice-card__option js-tabs {{#ifCond tab 'active'}} active {{/ifCond}}">
  <div class="choice-card__left">
    <span class="section__text choice-card__text">{{text}}</span>
  </div>
  <div class="choice-card__right">
    <span class="choice-card__number">{{number}}</span>
  </div>
</a>
