<div class="selection js-tabs-content{{#ifCond tab 'active'}} active {{/ifCond}}">
  <div class="selection__top">
<span class="section__title section__title--dark">
  {{title}}
</span>
    <p class="section__text selection__text">
      {{text}}
    </p>
  </div>
  <div class="selection__bottom">
    {{#ifCond select 'option 1'}}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
    {{/ifCond}}
    {{#ifCond select 'option 2'}}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
    {{/ifCond}}
    {{#ifCond select 'option 3'}}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
    {{/ifCond}}
    {{#ifCond select 'option 4'}}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
    {{/ifCond}}
    {{#ifCond select 'option 5'}}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Marketing Analyst"
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
      {{>widgets/selection-option
        link-text = "Lorem ipsum dolor."
      }}
    {{/ifCond}}

  </div>
</div>
