.accord {
  &-option {
    border-radius: 10px;
    &__item {
      position: relative;
      padding: 20px 80px 20px 0;
      width: 100%;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      text-align: left;
      transition: 0.3s all ease;
      @include mobile {
        padding: 10px 40px 10px 0;
        font-size: 18px;
        line-height: 24px;
      }

      &:after, &:before {
        content: "";
        position: absolute;
        top: 45%;
        right: 0;
        width: 32px;
        height: 4px;
        background-color: $color-blue-100;
        transition: 0.3s all ease;
        @include mobile {
          top: 50%;
          width: 24px;
        }
      }

      &:before {
        transform: rotate(90deg);
      }

      &:hover{
        color: $color-blue-100;
        transition: 0.3s all ease;
      }
    }

    &__content {
      font-size: 18px;
      max-width: 1000px;
      @include mobile{
        font-size: 14px;
      }
    }

    &__inner {
      overflow: hidden;
      height: 0;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s all ease;
    }

    &.open {
      .accord-option__inner {
        opacity: 1;
        visibility: visible;
        transition: 0.3s all ease;
      }

      .accord-option__item {
        &:before, &:after {
          transform: rotate(45deg);
          transition: 0.3s all ease;
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
