<nav class="header-menu">
  <ul class="header-menu__list">
    <li class="header-menu__item">
      <a href="#" class="header-menu__link {{#ifCond active-item ''}} active {{/ifCond}}"> option 1</a>
    </li>
    <li class="header-menu__item">
      <a href="#" class="header-menu__link {{#ifCond active-item ''}} active {{/ifCond}}"> option 2</a>
    </li>
    <li class="header-menu__item">
      <a href="#" class="header-menu__link {{#ifCond active-item ''}} active {{/ifCond}}"> option 3</a>
    </li>
    <li class="header-menu__item">
      <a href="#" class="header-menu__link {{#ifCond active-item ''}} active {{/ifCond}}"> option 4</a>
    </li>
  </ul>
</nav>

