.section {
  margin: 90px 0;
  @include mobile {
    margin: 45px 0;
  }

  &--no-margin {
    margin: 0;
  }

  &__main-title {
    margin: 0;
    color: $color-white;
    font-weight: 300;
    font-size: 70px;
    line-height: 120%;
    letter-spacing: -0.03em;
    @include mobile {
      font-size: 40px;
    }
  }

  &__title {
    margin: 0;
    color: $color-white;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 120%;
    letter-spacing: -0.03em;
    @include smallTablet-and-mobile {
      font-size: 30px;
    }
  }

  &__main-text {
    color: $color-dark;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 120%;

    &--white {
      color: $color-white;
    }
  }

  &__text {
    color: $color-dark;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    @include smallTablet-and-mobile {
      font-size: 15px;
    }

    &--white {
      color: $color-white;
    }

    &--blue {
      color: $color-blue-50;
    }
  }
  &--gray{
    background-color: $color-gray;
  }
}
