.page {
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex: 1 1 100%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    flex: 1 1 70%;
    min-height: 100vh;
  }

  &__header {
    position: relative;
    padding-top: 60px;
  }

  &__content {
    flex: 1 0 auto;
    min-height: 1px;
  }

  &__footer {
    flex-shrink: 0;
  }
}
