<section class="section accord js-accord">
  <div class="container">
    <div class="section__title section__title--dark">ACCORD</div>
    <ul class="accord__list">
      <li class="accord__item">
        {{>widgets/options/accord-option
          label = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?"
          text = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?"
        }}
      </li>
      <li class="accord__item">
        {{>widgets/options/accord-option
          label = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?"
          text = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?"
        }}
      </li>
    </ul>
  </div>
</section>
