<section class="section slider">
  <div class="container">
    <div class="slider__inner">
    <div class="slider__top">
      <div class="slider__counter">
        <div class="slider__btn-prev js-button-prev"><i class="slider__arrow"></i></div>
        <p class="slider__current js-button-prev">03<span class="slider__total">/04</span></p>
        <div class="slider__btn-next js-button-next"><i class="slider__arrow slider__arrow--reverse"></i></div>
      </div>
    </div>
    <div class="slider__bottom">

      {{>widgets/options/slider-option
        image = "slider/slide_1"
        active = true
      }}
<!--     {{>widgets/options/slider-option
        image = "slider/slide_2"
      }}
      {{>widgets/options/slider-option
        image = "slider/slide_3"
      }}
      {{>widgets/options/slider-option
        image = "slider/slide_4"
      }}-->

    </div>
  </div>
  </div>
</section>
